# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/Builds/
[Ll]ibrary/
sysinfo.txt
*.stackdump
UnityGenerated/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
 
# OS X only:
.DS_Store
*.swp
*.Trashes
 
# All platforms:
**/Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs